.section{
    padding:70px 8%;
}

.education-grid{
    display:grid;
    grid-template-columns:1fr 1fr;
    gap:25px;
}

.education-card{

    background:white;

    padding:30px;

    border-radius:15px;

    box-shadow:
    0 5px 15px rgba(0,0,0,.08);
}